/* card Styling */
.card-container{
    overflow: hidden;
    min-height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 gray;
    display: grid;
    grid-template: 200px 320px / 1fr;
}

.card-container:hover{
    box-shadow: 0 0 10px 0 gray;
}

.project-screenshot{
    overflow: hidden;
}

.screenshot:hover{
    transform: scale(120%);
    transition: transform 200ms linear;
    cursor: pointer;
}

.card-body{
    padding: 10px;
}

.card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-title{
    font-size: 20px;
    font-weight: 800;
}

.project-links{
    display: flex;
    gap: 10px;
}
.project-link:hover{
    filter: drop-shadow(0 0 10px gray) ;
}

.project-techs{
    display: flex;
    gap: 5px;
    justify-content: flex-start;
}

.project-description{
    box-sizing: border-box;
    padding: 3px;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Open Sans',sans-serif;
}
