/* Projects page Styling */

.projects {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.projects-text {
    align-self: center;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    text-align-last: center;
    width: fit-content;
    padding: 2vh 2vw;
    font-weight: 400;
    font-size: 1.2rem;
}


.cards {
    padding: 0;
    width: 100%;
    display: grid;
    grid-template: 520px / repeat(auto-fill, 360px);
    grid-auto-flow: row;
    gap: 20px;
    justify-content: space-between;
}


@media screen and (max-width: 824px) {
    .cards{
        justify-content: center;
    }
}

@media screen and (max-width: 340px) {
    .cards{
        grid-template: 480px / repeat(auto-fill, 300px);
    }
}
