.resume-page{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100vw;
    padding: 0 5vw;
}

.resume{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.resume-title{
    align-self: flex-start;
}  

.resume-description{
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 2;
}


.resume-links{
    display: flex;
    gap: 50px;
}

.link-button{ /* already styled from homepage */
    width: 200px;
}

