.resume-page{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100vw;
    padding: 0 5vw;
}



.resume-title{
    align-self: flex-start;
}  

.resume-description{
    width: 100%;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    line-height: 2;
}


.resume-links{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}



.link-button{ /* already styled from homepage */
    width: 200px;
}

.error-message{
    text-align: center;
}

@media screen and (max-width:500px) {
    .resume-links{
        flex-direction: column;
        align-items: center;
    }
    
    
    
    .link-button{ /* already styled from homepage */
        width: 200px;
    }
    
}

