@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
    --Dark-Mode-Elements: hsl(209, 23%, 22%);
    --Dark-Mode-Background: hsl(207, 26%, 17%);
    --Light-Mode-Text: #111517;
    --Light-Mode-Input: #858585;
    --Light-Mode-Background: hsl(0, 0%, 98%);
    --Dark-Mode-Text-and-Light-Mode-Elements: #ffffff;
    --Dark-mode-paragraph: hsl(230, 20%, 96%);
}

ul {
    list-style: none;
}
/* general button styling */
button {
    all: unset;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    opacity: .6;
}
.link-button {
    height: 56px;
    width: 203px;
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
}

a {
    text-decoration: unset;
    color: unset;
}

html {
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;

}

p,
span {
    font-size: 1rem;
}

img {
    width: 100%;
    height: 100%;
}

body,
#root,
.App {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
}

.App {
    display: grid;
    grid-template: 10vh 1fr 100px / min(1308px,100vw);
    gap: 50px;
    justify-content: center;
}

.light.App,
.light .element {
    background-color: var(--Light-Mode-Background);
    transition:  background-color 100ms linear;
}

.dark.App,
.dark .element {
    background-color: var(--Dark-Mode-Background);
    transition:  background-color 100ms linear;
}


.light p
.light h1,
.light span,
.light h2,
.light h3 {
    color: var(--Light-Mode-Text);
}

.dark p{
    color: var(--Dark-mode-paragraph);
}
.dark h1,
.dark span,
.dark h2,
.dark h3 {
    color: var(--Dark-Mode-Text-and-Light-Mode-Elements);
}

.icon{
    width: 32px;
    height: 32px;
}

main{
    box-sizing: border-box;
    width: 100vw;
    padding: 0 5vw;
}

main,header,footer{
    max-width: 1308px;
}

.highlighted{
    font-weight: 800;
    font-size: inherit;
}
.description{
    font-family: 'Nunito',sans-serif;
}
/* header text and colors */

/* home page text and color */

.light .link-button {
    background-color: #222;
    border-style: none;
    color: #fff;
}

.dark .link-button {
    background-color: var(--Light-Mode-Background);
}

.light .card-container{
    background-color: var(--Dark-Mode-Text-and-Light-Mode-Elements);

}
.dark .card-container{
    background-color: var(--Dark-Mode-Elements);
    
}

/* reponsive design */
@media screen and (max-width: 1024px) {
    button:hover {
        opacity: 1;
    }
}

@media screen and (max-width:500px) {
    html{
        font-size: 16px;
    }
    
}
@media screen and (max-width:500px) {
    html{
        font-size: 14px;
    }
}